.main_form{
    margin-top: 10px;
    table.list{
        position: absolute;
        display:block;
        margin: 5px;
        left:50%;
        transform: translateX(-50%);
        font-size: 18pt;
        //border-collapse: collapse;
        td, th{
            width: 12em;
            padding: 0.2em;
        }
        th{
            background-color: rgb(74, 132, 241);
            color: white;
            font-weight: 500;
        }
        td{
            background-color: #eee;
            &:nth-child(1){
                background-color: rgb(183, 211, 248);
            }
            &:nth-child(2){
                background-color: rgb(199, 220, 248);
            }
            &:nth-child(3){
                background-color: rgb(228, 238, 252);
            }

        }
    }
}